/* Font import */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* App-wide defaults */
body {
  background: #8E9AAF;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  text-align: center;
}

.App {
  background: #fff;
  height: 100vh;
  margin: 0 5%;
  padding: 0;
  width: 90%;
}

/* Color classes */
@import "colors.css";

/* ID-specific styles */
@import "id-specific.css";

/* Component classes */
@import "components.css";
